
#filterNav {
	background-color : gray;
}

#filterBtn {
	width: 250px;
	padding: 15px 30px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px;
}

.col-md-2{
	padding-right: 0px;
    padding-left: 0px;
}
#my{
    margin-top: 10px;
    box-shadow: 0 3px gray;
    padding: 0 0px 0px 2px;
	border-style: solid;
    border-top-color: #88328a;
	border-top-width: 5px;
}

#starter{
    margin-top: 10px;
    box-shadow: 0 3px gray;
    padding: 0 0px 0px 2px;
	border-style: solid;
    border-top-color: #4dafa6;
	border-top-width: 5px;
}

#example{
    margin-top: 10px;
    box-shadow: 0 3px gray;
    padding: 0 0px 0px 2px;
	border-style: solid;
    border-top-color: #3c44af;
	border-top-width: 5px;
}

.col-md-offset-1 {
    margin-left: 6.333333%;
}
.panel-heading {
	border-color: white;
	padding: 3px 5px;
	border-bottom: 0px;
}
.panel-default>.panel-heading {
    background-color: white;
}

.panel-body {
    padding: 6px;
}

.well-lg {
    padding: 0px;
    border-radius: 0px;
	border-bottom-left-radius: 2px;
	margin-bottom: 0px;
}
.col-md-2 .type{
	text-decoration: underline;
}